#first-container {
  width: 100vw;
}
@media only screen and (max-width: 568px) {
  #first-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/alignPortrait.jpeg");
    background-position: 90% 36%;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  #first-leftside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15%;
    margin-left: 10%;
    width: 100%;
    height: auto;
  }

  #first-leftside h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 3.5rem;
    color: #f4f4f4;
    mix-blend-mode: difference;
    width: 70%;
    margin-top: 10%;
  }

  #first-leftside h5 {
    width: 90%;
    margin-top: 7rem;
    padding-bottom: 3rem;
    text-align: justify;
  }
  #download-CV {
    padding-bottom: 2rem;
    text-align: center;
  }

  /*NAVIGATION*/

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 2;
    mix-blend-mode: difference;
    color: black;
    padding-top: 1rem;
    transition: top 0.3s;
  }
  nav a,
  nav a:visited,
  nav a:hover,
  nav a:link {
    padding-left: 3rem;
    list-style: none;
    color: #f4f4f4;
  }
}

@media only screen and (min-width: 568px) {
  #first-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/alignPortrait.jpeg");
    background-position: 90% 36%;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  #first-leftside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15%;
    width: 100%;
    height: auto;
    margin-left: 10%;
  }

  #first-leftside h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 4rem;
    color: #f4f4f4;
    mix-blend-mode: difference;
    width: 60%;
    margin-top: 10%;
  }

  #first-leftside h5 {
    width: 80%;
    margin-top: 7rem;
    padding-bottom: 3rem;
    text-align: justify;
  }
  #download-CV {
    padding-bottom: 2rem;
    text-align: center;
  }

  /*NAVIGATION*/

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 2;
    mix-blend-mode: difference;
    color: black;
    padding-top: 1rem;
    transition: top 0.3s;
  }
  nav a,
  nav a:visited,
  nav a:hover,
  nav a:link {
    padding-left: 3rem;
    list-style: none;
    color: #f4f4f4;
  }
}

@media only screen and (min-width: 768px) {
  #first-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/alignPortrait.jpeg");
    background-position: 90% 36%;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  #first-leftside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15%;
    width: 100%;
    height: auto;
    margin-left: 10%;
  }

  #first-leftside h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 4rem;
    color: #f4f4f4;
    mix-blend-mode: difference;
    width: 60%;
    margin-top: 10%;
  }

  #first-leftside h5 {
    width: 80%;
    margin-top: 10rem;
    padding-bottom: 3rem;
    text-align: justify;
  }
  #download-CV {
    padding-bottom: 2rem;
    text-align: center;
  }
  /*NAVIGATION*/

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 2;
    mix-blend-mode: difference;
    color: black;
    padding-top: 1rem;
    transition: top 0.3s;
  }
  nav a,
  nav a:visited,
  nav a:hover,
  nav a:link {
    padding-left: 3rem;
    list-style: none;
    color: #f4f4f4;
  }
}
@media only screen and (min-width: 992px) {
  #first-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/alignPortrait.jpeg");
    background-position: 90% 36%;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  #first-leftside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15%;
    width: 100%;
    height: auto;
    margin-left: 10%;
  }

  #first-leftside h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 6rem;
    color: #f4f4f4;
    mix-blend-mode: difference;
    width: 60%;
    margin-top: 10%;
  }

  #first-leftside h5 {
    width: 80%;
    margin-top: 10rem;
    padding-bottom: 3rem;
    text-align: justify;
  }
  #download-CV {
    padding-bottom: 2rem;
    text-align: center;
  }

  /*NAVIGATION*/

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 2;
    mix-blend-mode: difference;
    color: black;
    padding-top: 1rem;
    transition: top 0.3s;
  }
  nav a,
  nav a:visited,
  nav a:hover,
  nav a:link {
    padding-left: 3rem;
    list-style: none;
    color: #f4f4f4;
  }
}

@media only screen and (min-width: 1200px) {
  #first-container {
    height: auto;
    background-image: url("../assets/images/alignPortrait.jpeg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 54%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #first-leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
  }

  #first-leftside h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 6rem;
    color: #f4f4f4;
    mix-blend-mode: difference;
    width: 60%;
  }
  #first-leftside h5 {
    text-align: left;
    padding-bottom: 3rem;
    width: 35%;
  }
  #download-CV {
    padding-bottom: 5rem;
  }

  /*NAVIGATION*/
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-top: 3rem;
  }
  nav ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 2;
    mix-blend-mode: difference;
    color: black;
    padding-top: 1rem;
    transition: top 0.3s;
  }
  nav a,
  nav a:visited,
  nav a:hover,
  nav a:link {
    padding-left: 3rem;
    list-style: none;
    color: #f4f4f4;
  }
}
@media only screen and (min-width: 1460px) {
  #first-container {
    height: auto;
    background-image: url("../assets/images/alignPortrait.jpeg");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #first-leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
  }

  #first-leftside h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 8rem;
    color: #f4f4f4;
    mix-blend-mode: difference;
    width: 60%;
  }
  #first-leftside h5 {
    text-align: left;
    padding-bottom: 3rem;
    width: 35%;
  }
  #download-CV {
    padding-bottom: 5rem;
  }

  /*NAVIGATION*/
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-top: 3rem;
  }
  nav ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 2;
    mix-blend-mode: difference;
    color: black;
    padding-top: 1rem;
    transition: top 0.3s;
  }
  nav a,
  nav a:visited,
  nav a:hover,
  nav a:link {
    padding-left: 3rem;
    list-style: none;
    color: #f4f4f4;
  }
}
