footer {
  background-image: url("../assets/images/AnhLogo.png");
  background-size: 22%;
  background-position: 8% 50%;
  background-repeat: no-repeat;
  background-color: #f4f4f4;
  color: black;
  height: 500px;
}
#footer-container {
  width: 50%;
  height: auto;
  margin-left: 35%;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
}
#footer-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 10rem;
  padding-top: 6rem;
}
#footer-menu a,
#footer-menu a:link,
#footer-menu a:visited,
#footer-menu a:hover {
  list-style: none;
  font-size: 1.25rem;
  padding-top: 1rem;
  color: black;
}
#footer-first {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#icon-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#only-icon {
  float: left;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
}
#only-icon a {
  padding-top: 3.5rem;
}

#only-text li {
  display: inline-block;
  text-align: left;
  line-height: 1rem;
  padding-top: 3.2rem;
  font-size: 1.25rem;
  vertical-align: bottom;
}
#only-text ul {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

#social ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-left: 200px;
  padding-top: 2rem;
}
#social a {
  padding-right: 1.5rem;
  color: black;
}
#social li {
  list-style: none;
  padding-top: 2rem;
}
#copywright {
  margin-top: 5rem;
}
